/* 色テーマ：黒 */
@charset "utf-8";
body {
	background:#171300;
}
#loading {
	color:#fff;
}
.panel {
	border:1px solid #444;
	background:#222;
}
.title {
	color:#fff;
	background:#332;
	background:linear-gradient(#414130,#393928);
}
.panel:hover {
	border-color:#775;
}
.panel:hover .title {
	color:#fff;
	background:#443;
	background:linear-gradient(#555544,#2e2e1d);
}
.panel.active {
	border-color:#997;
}
.panel.active .title {
	color:#fff;
	background:#554;
	background:linear-gradient(#666655,#3e3e2d);
}
.pen:hover, .plusminus:hover {
	border-color:#bbb;
	background:#111;
}
.pen:active, .plusminus:active {
	/* Firefox19,20で効かないなぜ */
	border-color:#ccc;
	background:#555;
}
#newurl {
	color:#fff;
	border:1px solid #777;
	background:#000;
}
#newurl:hover {
	border-color:#fa3;
}
.panel .commit {
	color:#eee;
	border:1px solid #777;
	background:#444;
}
.panel .commit:hover {
	color:#ffe;
	background:#543;
	border-color:#e87;
}
.panel .commit:active {
	color:#fff;
	background:#754;
	border-color:#f98;
}
.itembox {
	background:#111;
	background:linear-gradient(#1c1c1c,#111111);
}
.itempop {
	border:1px solid #776;
	box-shadow:0 0 12px 4px #776;
}
.item {
	color:#ec4;
}
.item:hover {
	color:#afd;
	border-color:#366;
	background:#051e09;
	background:linear-gradient(#17271f,#011a05);
}
.item.active {
	color:#9fd;
	border-color:#477;
	background:#112a15;
	background:linear-gradient(#27372f,#112a15);
}
.paneldrop {
	border:1px dashed #f88;
	background:#733;
}
.itemdrop {
	border:2px solid #f88;
}
#contextmenu {
	box-shadow:3px 3px 4px #000;
}
#findbox .found {
	color:#eee;
	background:#111;
	background:linear-gradient(#1c1c1c,#111111);
}
#findbox .found div {
	color:#eee;
}
