/* 色テーマ：黒 */
@charset "utf-8";
body {
	background:#171300;
}
/* 変更通知 */
#progress, #modified {
	color:#f44;
	background:#171300;
}
#modified:hover {
	background:#444;
}
/* パネル */
.panel {
	border:1px solid #444;
	background:#222;
}
/* パネルマウスオーバーで枠を少し強調 */
.panel:hover {
	border-color:#775;
}
/* パネルタイトル(フォルダ名) */
.title {
	color:#fff;
	background:#332;
	background:-o-linear-gradient(#414130,#393928);
	background:-moz-linear-gradient(#414130,#393928);
	background:-webkit-linear-gradient(#414130,#393928);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#414130,endcolorstr=#393928)";
}
/* パネルマウスオーバーでタイトルグラデを少し強調 */
.panel:hover .title {
	background:-o-linear-gradient(#555544,#2e2e1d);
	background:-moz-linear-gradient(#555544,#2e2e1d);
	background:-webkit-linear-gradient(#555544,#2e2e1d);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#555544,endcolorstr=#2e2e1d)";
}
/* パネル開閉ボタン */
.plusminus:hover {
	border:1px solid #ddd;
	background:#555;
}
/* 新規ブックマークURL投入INPUTボックス */
#newurl {
	color:#fff;
	border:1px solid #777;
	background:#000;
}
#newurl:hover {
	border-color:#fa3;
}
#commit {
	color:#eee;
	border:1px solid #777;
	background:#444;
}
#commit:hover {
	color:#ffe;
	background:#543;
	border-color:#e87;
}
/* アイテムボックス */
.itembox {
	color:#fff;
	background:#111;
	background:-o-linear-gradient(#1c1c1c,#111111);
	background:-moz-linear-gradient(#1c1c1c,#111111);
	background:-webkit-linear-gradient(#1c1c1c,#111111);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#1c1c1c,endcolorstr=#111111)";
}
.itempop {
	border:1px solid #776;
	box-shadow:0 0 12px 4px #776;
}
/* ブックマークアイテム */
.item {
	color:#ec2;
}
.item:hover {
	color:#9fffdf;
	border:2px solid #366;
	background:#010705;
	background:-o-linear-gradient(#17271f,#011a05);
	background:-moz-linear-gradient(#17271f,#011a05);
	background:-webkit-linear-gradient(#17271f,#011a05);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#17271f,endcolorstr=#011a05)";
}
/* パネルドラッグ先領域 */
.ui-sortable-placeholder {
	border:1px dashed #aaa !important;
	background:#555 !important;
}
/* アイテムドラッグ先領域 */
.item-placeholder {
	border:2px solid #f88;
}
/* コンテキストメニュー */
#contextmenu {
	box-shadow:3px 3px 4px #000;
}
