/* 色テーマ：黒 */
@charset "utf-8";
body {
	background:#171300;
}
/* 変更通知 */
#modified {
	color:#f44;
}
#modified:hover {
	background:#444;
}
/* パネル */
.panel {
	border:1px solid #444;
	background:#222;
}
/* パネルマウスオーバーで枠を少し強調 */
.panel:hover {
	border-color:#666;
}
/* パネルタイトル(フォルダ名) */
.title {
	color:#fff;
	background:#332;
	background:-o-linear-gradient(#444433,#333322);
	background:-moz-linear-gradient(#444433,#333322);
	background:-webkit-linear-gradient(#444433,#333322);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#444433,endcolorstr=#333322)";
}
/* パネルマウスオーバーでタイトルグラデを少し強調 */
.panel:hover .title {
	background:-o-linear-gradient(#555544,#333322);
	background:-moz-linear-gradient(#555544,#333322);
	background:-webkit-linear-gradient(#555544,#333322);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#555544,endcolorstr=#333322)";
}
/* パネル開閉ボタン */
.plusminus:hover {
	border:1px solid #ddd;
	background:#555;
}
/* 新規ブックマークURL投入INPUTボックス */
#newurl {
	color:#fff;
	border:1px solid #777;
	background:#000;
}
#newurl:hover {
	border-color:#fa3;
}
#commit {
	color:#eee;
	border:1px solid #777;
	background:#444;
}
#commit:hover {
	color:#ffe;
	background:#543;
	border-color:#e87;
}
/* アイテムボックス */
.itembox {
	background:#111;
	background:-o-linear-gradient(#1c1c1c,#111111);
	background:-moz-linear-gradient(#1c1c1c,#111111);
	background:-webkit-linear-gradient(#1c1c1c,#111111);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#1c1c1c,endcolorstr=#111111)";
}
/* ブックマークアイテム */
.item {
	color:#ec2;
}
.item:hover {
	color:#9fffdf;
	border:2px solid #366;
	background:#010705;
	background:-o-linear-gradient(#17271f,#011a05);
	background:-moz-linear-gradient(#17271f,#011a05);
	background:-webkit-linear-gradient(#17271f,#011a05);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#17271f,endcolorstr=#011a05)";
}
/* パネルドラッグ先領域 */
.ui-sortable-placeholder {
	border:1px dashed #aaa !important;
	background:#555 !important;
}
/* アイテムドラッグ先領域 */
.item-placeholder {
	border:2px solid #f88;
}
/* サイドバー */
#sidebar {
	border-top:1px solid #aaa;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	background:#eee;
}
.barico {
	border:1px solid #eee;
	background:#eee;
}
.barico:hover {
	border-color:#aaa;
	background:#fff;
}
/* パネル設定ダイアログ */
#page_title, #panel_width, #panel_margin, #column_count, #font_size {
	border:1px solid gray;
}
/* コンテキストメニュー */
#contextmenu {
	border:1px solid #999;
	background:#e7e7e7;
	box-shadow:3px 3px 4px #000;
}
#contextmenu div {
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
#contextmenu a:hover {
	color:#fff;
	background:#337;
}
#contextmenu hr {
	border-top:1px solid #999;
	border-bottom:1px solid #fff;
}
/* アイテムをテキストで取得 */
#itemtext textarea {
	border:1px solid #888;
}
/* jQuery UI Dialog Button Style */
.ui-button-text {
	color:#666;
}
