@charset "utf-8";
body,span,div {
	margin:0;
	padding:0;
	white-space:nowrap;
	overflow:hidden;
}
body {
	background:#fff;
}
/* ツールバー */
#toolbar {
	position:relative;
	width:1024px;
	background:#eee;
	border-bottom:1px solid #777;
	padding:1px;
}
#toolbar hr {
	float:left;
	margin:6px 0 0 0;
	width:1px;
	height:23px;
	background:#ccc;
	border:none;
}
/* ツールバーボタン */
.barbtn {
	float:left;
	width:32px;
	height:32px;
	border:1px solid transparent;
}
.barbtn:hover {
	border-color:#999;
	background:#fff;
}
.barbtn:active {
	border-color:#da7;
	background:#fff5f0;
}
#logout {
	float:right;
	margin-right:17px;
}
#newname, #newurl, #keyword {
	position:relative;
	float:left;
	width:144px;
	height:17px;
	border:1px solid #999;
	margin:7px 10px 0 3px;
	padding:1px;
}
#findstop {
	display:none;
}
#finding {
	position:absolute;
	width:148px;
	height:21px;
	border:0;
	border-radius:0;
	padding:0;
	margin:0;
}
#keyword {
	background:transparent;
	margin-right:3px;
}
#findopt {
	float:left;
	padding:3px 2px 0 0;
}
#findopt label {
	padding:3px 5px 1px 1px;
	font-size:11px;
	display:block;
	line-height:1.1;
	color:#6f6f6f;
}
#findopt label:hover {
	background:#fff;
}
#fregex {
	float:left;
	width:15px;
	height:15px;
	margin:4px 3px 0 1px;
	padding:0;
}
#new100, #old100 {
	width:36px;
	height:34px;
	background:transparent;
	color:#999;
	font-weight:bold;
	line-height:1;
	margin:0 2px;
	padding:2px 0 0 0;
	font-size:10px;
}
#new100:hover, #old100:hover {
	border-color:#999;
	background:#fff;
}
/* TODO:なぜかFirefoxでactive効かない(Chrome/IE/Operaは効く) */
#new100:active, #old100:active {
	border-color:#da7;
	background:#fff5f0;
	color:#987;
}
#new100.disable, #old100.disable {
	color:#ccc;
}
#new100 b, #old100 b {
	display:block;
	font-size:13px;
	color:#777;
}
#selectall {
	margin:0 0 0 3px;
}
/* 変更保存リンクバー */
#progress, #modified {
	position:fixed;
	left:0; top:0;
	width:100%;
	height:21px;
	color:#c00;
	font-size:14px;
	line-height:1.5;
	background:#ffc;
	border-bottom:1px solid #dda;
}
#progress {
	display:none;
	text-align:center;
}
#progress img {
	border:0;
	vertical-align:middle;
}
#modified {
	display:none;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
}
#modified:hover {
	color:#f00;
	background:#ff9;
}
#modified:active {
	background:#fff399;
}
/* フォルダ欄、アイテム欄 */
#folderbox {
	float:left;
	overflow:auto;
}
#itembox {
	position:relative;
	overflow:auto;
}
/* ボーダー */
#border {
	position:absolute;
	width:5px;
	border-left:1px solid #777;
	border-right:1px solid #777;
	background:#eee;
	cursor:e-resize;
}
#border:hover {
	border-color:#555;
	background:#ddd;
}
#border.drag {
	border-color:#975;
	background:#fed;
}
#items {
	border-bottom:1px solid #eee;
}
/* アイテムヘッダ */
#itemhead {
	position:relative;
	height:19px;
	background:#eee;
	border-bottom:1px solid #bbb;
}
#itemhead span {
	display:inline-block;
	height:20px;
	cursor:default;
	line-height:21px;
}
#itemhead .title {
	color:#888;
}
#itemhead .title i {
	margin-left:7px; /* ie7で.titleのtext-indentがwidthと連動してしまい幅が崩れるためこのスペーサー導入 */
}
#itemhead .url,
#itemhead .misc,
#itemhead .date {
	color:#888;
	text-indent:5px;
}
#itemhead .drag {
	background:#fed;
}
#itemhead .itemborder {
	width:3px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:#eee;
	cursor:e-resize;
}
#itemhead .itemborder:hover {
	border-color:#975;
	background:#fed;
}
/* フォルダ・アイテム */
.folder, .item {
	height:21px;
}
.item {
	padding-left:3px;
}
.folder span, .item span {
	display:inline-block;
	height:20px;
	cursor:default;
	line-height:22px;
}
.item .url,
.item .iconurl,
.item .status,
.item .place,
.item .summary,
.item .date {
	color:#888;
	padding-left:5px;
	border-left:1px solid #ddd;
}
.item .status {
	color:#444;
}
.contexted { /* フォルダコンテキストメニュー中 */
	color:#000;
	background:#ebf9ff;
}
.folder:hover, .item:hover {
	background:#ebf9ff;
}
.folder:active {
	background:#dbe9ff;
}
/* アイテム色つき行 */
.bgcolor {
	background:#f0f2ff;
}
/* リンク切れアイテム */
.dead {
	background:#e3e3e3;
}
/* 選択行 */
.select {
	color:#fff;
	background:#337;
	font-weight:bold;
}
.select .url,
.select .iconurl,
.select .status,
.select .place,
.select .summary,
.select .date {
	color:#fff;
	font-weight:normal;
}
.select:hover {
	background:#448;
}
.select:active {
	background:#559;
}
/* 選択非アクティブ */
.inactive {
	color:#000;
	background:#ccc;
}
.inactive .url,
.inactive .iconurl,
.inactive .status,
.inactive .place,
.inactive .summary,
.inactive .date {
	color:#000;
}
.inactive:hover {
	background:#ddd;
}
.inactive:active {
	background:#bbb;
}
/* アイコン */
.icon {
	float:left;
	margin:2px 5px 0 3px;
	width:16px;
	height:16px;
}
.sub, .appear {
	float:left;
	width:9px;
	height:9px;
	padding:1px;
	border:1px solid transparent;
}
.sub {
	margin:3px 0 0 2px;
}
.appear {
	margin:3px 0 0 0;
}
.sub:hover, .appear:hover {
	border-color:#bbb;
	background:#fff;
}
.select .sub:hover,
.select .appear:hover {
	background:#669;
}
.inactive .sub,
.inactive .appear {
	border-color:#ccc;
	background:#e5e5e5;
}
.inactive .sub:hover,
.inactive .appear:hover {
	border-color:#bbb;
	background:#fff;
}
/* フォルダツリー,アイテム欄余白 */
.spacer {
	min-height:48px;
	border-top:4px solid transparent;
}
.clear {
	clear:both;
}
/* ツールチップ */
#tooltip {
	display:none;
	position:absolute;
	overflow:hidden;
}
#tooltip div {
	position:relative;
	background:#444;
	color:#fff;
	padding:2px 5px 3px 5px;
	border-radius:5px;
	border:1px solid #ccc;
	letter-spacing:1px;
}
#tooltip b {
	position:absolute;
	border-width:12px;
	border-style:solid;
	border-color:transparent;
	border-bottom-color:#ccc;
}
#tooltip i {
	position:absolute;
	border-width:10px;
	border-style:solid;
	border-color:transparent;
	border-bottom-color:#444;
}
/* ドラッグ中にカーソルと一緒に動く半透明ボックス */
#dragbox {
	display:none;
	position:absolute;
	width:160px;
	height:21px;
	line-height:21px;
	border:1px dotted #000;
	background:#ddf;
	filter:alpha(opacity=40);
	opacity:0.4;
}
#dragbox img {
	vertical-align:top;
}
/* 編集用テキストボックス */
#editbox {
	display:none;
	position:absolute;
	left:0; top:-50px;
	border:1px solid #ea0;
	height:20px;
	line-height:21px;
}
/* 一括変更ダイアログ */
#batch {
	display:none;
	padding-bottom:0;
}
#batchtabs {
	border:none;
}
#batchtabs .ui-tabs-nav {
	background:transparent;
	border-top:none;
	border-left:none;
	border-right:none;
	border-radius:0;
}
#batchtabs .ui-tabs-panel {
	border:1px solid #aaa;
	border-top:none;
	border-radius:0;
}
#batchtabs a {
	outline:0;
}
#batchtabs .play {
	width:26px;
	text-align:center;
}
#batchtabs table {
	border-collapse:collapse;
}
.batchItem {
	width:100%;
}
.batchItem th.before, .batchItem th.after {
	border:1px solid #aaa;
	color:#555;
	letter-spacing:0.3em;
}
.batchItem th.before {
	background:#eee;
}
.batchItem th.after {
	background:#ddd;
}
.batchItem td.before, .batchItem td.after {
	border:1px solid #aaa;
	vertical-align:top;
}
.batchItem div {
	overflow:auto;
}
.batchItem i {
	display:block;
	position:relative;
}
.batchItem i.color {
	background:#f0f2ff;
}
.batchItem i img {
	position:absolute;
	left:5px; top:1px;
	width:16px; height:16px;
	background:transparent;
}
.batchItem input {
	display:block;
	width:100%;
	margin:0; padding:1px 0;
	border:none;
	text-indent:27px;
	background:transparent;
}
.batchMenu {
	margin:10px 0 0 0;
	font-size:115%;
}
.batchMenu th {
	text-align:left;
}
.batchMenu input {
	margin:0 5px;
	text-indent:3px;
}
.batchMenu .prefix,
.batchMenu .suffix,
.batchMenu .search,
.batchMenu .replace {
	width:250px;
}
.batchMenu .regexp {
	width:500px;
}
/* マウス矩形選択ボックス */
#selectbox {
	display:none;
	position:absolute;
	left:0; top:-5px;
	width:1px; height:1px;
	border:1px dashed #999;
	background:transparent;
}
/* コンテキストメニュー */
#contextmenu {
	display:none;
	position:absolute;
	left:0; top:0;
	border:1px solid #999;
	background:#e7e7e7;
	box-shadow:3px 3px 4px #555;
}
#contextmenu div {
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding:1px;
}
#contextmenu a {
	display:block;
	cursor:default;
	color:#000;
	padding:3px 0 3px 9px;
	font-size:13px;
	line-height:15px;
}
#contextmenu a:hover {
	color:#fff;
	background:#337;
}
#contextmenu a:active {
	color:#fff;
	background:#449;
}
#contextmenu img {
	width:16px;
	height:16px;
	margin:0 8px 0 0;
	vertical-align:-3px;
	display:inline-block;
}
#contextmenu hr {
	border-top:1px solid #999;
	border-bottom:1px solid #fff;
	margin:3px 0 3px 0;
}
/* ダイアログ */
#dialog {
	display:none;
	line-height:1.5;
	padding:20px;
	white-space:normal;
}
#dialog .msg {
	white-space:normal;
	min-height:30px;
}
#dialog ul {
	padding-left:20px;
}
#dialog li {
	font-size:12px;
	white-space:nowrap;
}
#notify {
	display:none;
	position:absolute;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:3px 3px 4px #555;
	background:#ffd;
	line-height:1.5;
	padding:20px;
	white-space:normal;
}
/* タイトル/アイコン取得ダイアログ */
#analybox {
	width:100%;
}
#analybox th {
	width:64px;
	line-height:1;
}
#analybox .icon {
	float:none;
	width:20px; height:20px;
	vertical-align:-5px;
}
#analybox #antitle {
	border:1px solid #888;
	padding:1px;
	width:96%;
	margin-left:5px;
}
#analybox #anicon {
	border:1px solid #eee;
	padding:1px;
	width:90%;
}
#analybox #anmove {
	text-align:center;
	padding-top:20px;
}
/* リンク切れ調査 */
#deadinfo {
	position:relative;
	background:#ffa;
	border-bottom:1px solid #bbb;
	padding:1px 0 1px 0;
	text-align:center;
	font-size:14px;
	color:#333;
}
#deadinfo .icon {
	float:none;
	vertical-align:-3px;
}
#deadinfo .count {
	margin:0 13px 0 3px;
}
#deadinfo button { /* 中止ボタン */
	float:right;
	height:21px;
	margin:1px 4px 0 0;
	padding:0;
}
#deadinfo button .icon {
	margin:0 2px 0 0;
}
#deadinfo button span {
	font-size:13px;
}
#deadinfo .ui-button-text {
	padding:0 8px 0 8px;
}
/* jQuery UI Dialog */
.ui-dialog {
	font-size:14px;
}
.ui-button-text {
	font-weight:bold;
	font-size:13px;
	color:#555;
}
/* ドラッグ中アイテム */
.draggie {
	filter:alpha(opacity=25);
	opacity:0.25;
}
/* ドロップ先アイテム */
.dropTop, .dropTop:hover {
	border-top:4px solid #e78;
}
.dropBottom, .dropBottom:hover {
	border-bottom:4px solid #e78;
}
.dropIN, .dropIN:hover {
	color:#000;
	border:2px solid #e89;
	background:#fee;
}
