@charset "utf-8";
body,span,div {
	margin:0;
	padding:0;
	white-space:nowrap;
	overflow:hidden;
}
body {
	background:#fff;
}
/* ツールバー */
#toolbar {
	position:relative;
	width:1024px;
	background:#eee;
	border-bottom:1px solid #777;
	padding:1px;
}
/* ツールバーボタン */
.barbtn {
	float:left;
	width:32px;
	height:32px;
	border:1px solid transparent;
}
.barbtn:hover {
	border-color:#999;
	background:#fff;
}
.barbtn:active {
	border-color:#da7;
	background:#fff5f0;
}
#logout {
	float:right;
	margin-right:17px;
}
#toolbar input {
	position:relative;
	float:left;
	width:144px;
	height:16px;
	border:1px solid #bbb;
	margin:7px 10px 0 3px;
	padding:1px;
}
#findstop {
	display:none;
}
#finding {
	position:absolute;
	width:148px;
	height:20px;
	border:0;
	border-radius:0;
}
#keyword {
	background:transparent;
}
/* 変更保存リンクバー */
#progress, #modified {
	position:fixed;
	left:0; top:0;
	width:100%;
	height:21px;
	color:#c00;
	font-size:14px;
	line-height:1.5;
	background:#ffc;
	border-bottom:1px solid #dda;
}
#progress {
	display:none;
	text-align:center;
}
#progress img {
	border:0;
	vertical-align:middle;
}
#modified {
	display:none;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
}
#modified:hover {
	color:#f00;
	background:#ff9;
}
#modified:active {
	background:#fff399;
}
/* フォルダ欄、アイテム欄 */
#folderbox, #border, #itembox {
	float:left;
}
#folderbox, #itembox {
	overflow:auto;
}
/* ボーダー */
#border {
	width:5px;
	height:620px;
	border-left:1px solid #777;
	border-right:1px solid #777;
	background:#eee;
	cursor:e-resize;
}
#border:hover {
	border-color:#555;
	background:#ddd;
}
#border.drag {
	border-color:#975;
	background:#fed;
}
#items {
	border-bottom:1px solid #eee;
}
/* アイテムヘッダ */
#itemhead {
	height:19px;
	background:#eee;
	border-bottom:1px solid #bbb;
}
#itemhead span, .folder span, .item span {
	display:inline-block;
	height:19px;
	cursor:default;
	line-height:20px;
}
#itemhead .title {
	padding:0 0 0 7px;
	color:#888;
}
#itemhead .url,
#itemhead .misc,
#itemhead .date {
	color:#888;
	padding-left:5px;
}
#itemhead .drag {
	background:#fed;
}
#itemhead .itemborder {
	width:3px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:#eee;
	cursor:e-resize;
}
#itemhead .itemborder:hover {
	border-color:#975;
	background:#fed;
}
/* フォルダ・アイテム */
.folder, .item {
	height:20px;
}
.item {
	padding-left:3px;
}
.item .url,
.item .iconurl,
.item .status,
.item .place,
.item .summary,
.item .date {
	color:#888;
	padding-left:5px;
	border-left:1px solid #ddd;
}
.item .status {
	color:#444;
}
.contexted { /* フォルダコンテキストメニュー中 */
	color:#000;
	background:#ebf9ff;
}
.folder:hover, .item:hover {
	background:#ebf9ff;
}
.folder:active {
	background:#dbe9ff;
}
/* アイテム色つき行 */
.bgcolor {
	background:#f0f2ff;
}
/* リンク切れアイテム */
.dead {
	background:#e3e3e3;
}
/* 選択行 */
.select {
	color:#fff;
	background:#337;
	font-weight:bold;
}
.select .url,
.select .iconurl,
.select .status,
.select .place,
.select .summary,
.select .date {
	color:#fff;
	font-weight:normal;
}
.select:hover {
	background:#448;
}
.select:active {
	background:#559;
}
/* 選択非アクティブ */
.inactive {
	color:#000;
	background:#ccc;
}
.inactive .url,
.inactive .iconurl,
.inactive .status,
.inactive .place,
.inactive .summary,
.inactive .date {
	color:#000;
}
.inactive:hover {
	background:#ddd;
}
.inactive:active {
	background:#bbb;
}
/* アイコン */
.icon {
	float:left;
	margin:2px 5px 0 3px;
	width:16px;
	height:16px;
}
.sub {
	float:left;
	width:9px;
	height:9px;
	margin:3px 0 0 2px;
	padding:1px;
	border:1px solid transparent;
}
.sub:hover {
	border-color:#bbb;
	background:#fff;
}
.select .sub:hover {
	background:#669;
}
.inactive .sub {
	border-color:#ccc;
	background:#e5e5e5;
}
.inactive .sub:hover {
	border-color:#bbb;
	background:#fff;
}
/* 余白 */
.spacer {
	height:32px;
}
.clear {
	clear:both;
}
/* ドラッグ中にカーソルと一緒に動く半透明ボックス */
#dragbox {
	display:none;
	position:absolute;
	width:160px;
	height:20px;
	line-height:20px;
	border:1px dotted #000;
	background:#ddf;
	filter:alpha(opacity=40);
	opacity:0.4;
}
#dragbox img {
	vertical-align:top;
}
/* 編集用テキストボックス */
#editbox {
	display:none;
	position:absolute;
	left:0; top:-50px;
	border:1px solid #ea0;
	height:19px;
	line-height:20px;
}
/* マウス矩形選択ボックス */
#selectbox {
	display:none;
	position:absolute;
	left:0; top:-5px;
	width:1px; height:1px;
	border:1px dashed #999;
	background:transparent;
}
/* コンテキストメニュー */
#contextmenu {
	display:none;
	position:absolute;
	left:0; top:0;
	border:1px solid #999;
	background:#e7e7e7;
	box-shadow:3px 3px 4px #555;
}
#contextmenu div {
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding:1px;
}
#contextmenu a {
	display:block;
	cursor:default;
	color:#000;
	padding:3px 0 3px 9px;
	font-size:13px;
	line-height:17px;
}
#contextmenu a:hover {
	color:#fff;
	background:#337;
}
#contextmenu a:active {
	color:#fff;
	background:#449;
}
#contextmenu img {
	width:16px;
	height:16px;
	margin:0 8px 0 0;
	vertical-align:top;
	display:inline-block;
}
#contextmenu hr {
	border-top:1px solid #999;
	border-bottom:1px solid #fff;
	margin:3px 0 3px 0;
}
/* ダイアログ */
#dialog {
	display:none;
	line-height:1.5;
	padding:20px;
	white-space:normal;
}
#dialog ul {
	padding-left:20px;
}
#dialog li {
	font-size:12px;
	white-space:nowrap;
}
#notify {
	display:none;
	position:absolute;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:3px 3px 4px #555;
	background:#ffd;
	line-height:1.5;
	padding:20px;
	white-space:normal;
}
/* タイトル/アイコン取得ダイアログ */
#analybox {
	width:100%;
}
#analybox th {
	width:64px;
	line-height:1;
}
#analybox .icon {
	float:none;
	width:20px; height:20px;
	vertical-align:-5px;
}
#analybox #antitle {
	border:1px solid #888;
	padding:1px;
	width:96%;
	margin-left:5px;
}
#analybox #anicon {
	border:1px solid #eee;
	padding:1px;
	width:90%;
}
#analybox #anmove {
	text-align:center;
	padding-top:20px;
}
/* リンク切れ調査 */
#deadinfo {
	background:#ffa;
	border-bottom:1px solid #bbb;
	padding:1px 0 1px 0;
	text-align:center;
	font-size:14px;
	color:#333;
}
#deadinfo .icon {
	float:none;
	vertical-align:-3px;
}
#deadinfo .count {
	margin:0 13px 0 3px;
}
#deadinfo button { /* 中止ボタン */
	float:right;
	height:20px;
	margin:1px 4px 0 0;
	padding:0;
}
#deadinfo button .icon {
	margin:0 2px 0 0;
}
#deadinfo button span {
	font-size:13px;
}
#deadinfo .ui-button-text {
	padding:0 8px 0 8px;
}
/* jQuery UI Dialog */
.ui-dialog {
	font-size:14px;
}
.ui-button-text {
	font-weight:bold;
	color:#555;
}
/* ドラッグ中アイテム */
.draggie {
	filter:alpha(opacity=25);
	opacity:0.25;
}
/* ドロップ先アイテム */
.dropTop, .dropTop:hover {
	border-top:4px solid #e78;
}
.dropBottom, .dropBottom:hover {
	border-bottom:4px solid #e78;
}
.dropIN, .dropIN:hover {
	color:#000;
	border:2px solid #e89;
	background:#fee;
}
