@charset "utf-8";
* {
	margin:0;
	padding:0;
}
#progress {
	display:none;
	text-align:center;
	padding-top:2px;
}
#proress img {
	border:0;
}
#progress, #modified {
	position:fixed;
	left:0; top:0;
	width:100%;
	color:#c00;
	background:#ffc;
}
#modified {
	display:none;
	font-family:"MS PGothic",sans-serif;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	text-align:center;
	line-height:1.5;
	white-space:nowrap;
}
#modified:hover {
	color:#f00;
	background:#ff9;
}
#modified:active {
	background:#fff399;
}
#modified input {
	width:17px;
	height:17px;
	vertical-align:middle;
}
#modified img {
	width:22px;
	height:22px;
	vertical-align:top;
}
#wall {
	margin:auto;
}
/* カラム(列) */
.column {
	float:left;
	padding-bottom:30px;
}
/* パネル */
.panel {
	font-family:"MS PGothic",sans-serif;
	font-size:13px;
	border-radius:3px;
	cursor:move;
}
/* パネルタイトル(フォルダ名) */
.title {
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
	padding:1px 1px 1px 2px;
	border-radius:2px 2px 0 0;
}
.icon {
	border:0;
	width:16px;
	height:16px;
	margin:0 6px 0 1px;
	vertical-align:-4px;
	display:inline-block;
}
/* パネル開閉/編集ボタン */
.pen, .plusminus {
	display:none;
	float:right;
	width:14px;
	height:14px;
	margin:0 2px 0 0;
	cursor:default;
	border:1px solid transparent;
	border-radius:2px;
}
/* パネルマウスオーバーの時だけボタン表示 */
.panel:hover .pen,
.panel:hover .plusminus {
	display:block;
}
/* 新規ブックマークURL投入INPUTボックス */
#newurl {
	line-height:1.5;
	width:98%;
	padding:1px;
}
#commit {
	width:98%;
	cursor:pointer;
	text-align:center;
	border-radius:3px;
	padding:1px;
}
/* アイテムボックス */
.itembox {
	border-radius:3px;
	padding:2px 2px 3px 2px;
}
/* ブックマークアイテム */
.item {
	display:block;
	height:16px;
	border:2px solid transparent;
	border-radius:3px;
	white-space:nowrap;
	text-decoration:none;
	overflow:hidden;
	outline:0;
}
/* 並べ替えドロップ場所 */
.paneldrop {
	height:18px;
	border-radius:3px;
}
/* サイドバー */
#sidebar {
	position:fixed;
	top:10px;
	left:-31px;
	width:34px;
	padding:1px;
	border-radius:0 3px 3px 0;
	border-top:1px solid #aaa;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	background:#eee;
}
.barico {
	float:right;
	width:32px;
	height:32px;
	border:1px solid #eee;
	background:#eee;
}
.barico:hover {
	border-color:#aaa;
	background:#fff;
}
.barico:focus {
	border-color:#eb0;
	background:#fff5f0;
}
.clear {
	clear:both;
}
/* パネル設定ダイアログ */
#option {
	display:none;
	text-align:center;
}
#option table {
	font-size:13px;
	margin:auto;
}
#option th {
	padding:5px 10px;
	text-align:right;
	white-space:nowrap;
}
#option td {
	text-align:left;
	white-space:nowrap;
}
#option .updown {
	width:18px;
	height:18px;
	line-height:1;
	padding:0;
}
#page_title {
	width:200px;
	border-radius:3px;
}
#panel_width, #panel_margin, #column_count, #font_size {
	width:60px;
	border-radius:3px;
}
#page_title, #panel_width, #panel_margin, #column_count, #font_size {
	border:1px solid gray;
}
/* コンテキストメニュー */
#contextmenu {
	display:none;
	position:absolute;
	left:0; top:0;
	width:270px;
	border:1px solid #999;
	background:#e7e7e7;
}
#contextmenu div {
	padding:1px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
#contextmenu a {
	display:block;
	font-family:"MS PGothic",sans-serif;
	font-size:13px;
	line-height:17px;
	padding:3px 0 3px 9px;
	cursor:default;
}
#contextmenu a:hover {
	color:#fff;
	background:#337;
}
#contextmenu a:active {
	color:#fff;
	background:#449;
}
#contextmenu img {
	width:16px;
	height:16px;
	margin:0 8px 0 0;
	vertical-align:top;
	display:inline-block;
}
#contextmenu hr {
	margin:3px 0 3px 0;
	border-top:1px solid #999;
	border-bottom:1px solid #fff;
}
/* パネル編集 */
#editbox {
	display:none;
}
#editbox div {
	width:445px;
	height:280px;
	margin-top:2px;
	padding:2px;
	border:1px solid #ddd;
	overflow-y:scroll;
}
#editbox a {
	display:block;
	font-family:"MS PGothic",sans-serif;
	font-size:13px;
	border:1px solid transparent;
}
#editbox div a:hover {
	background:#f7f7f7;
	border:1px solid #ddd;
}
#editbox input {
	width:380px;
	height:14px;
	padding:1px;
	border:1px solid transparent;
	background:transparent;
}
#editbox input:hover {
	border:1px dashed #fb1;
}
#editbox input:focus {
	border:1px solid #eb0;
	font-weight:bold;
}
#editbox a .idel {
	float:right;
	border:1px solid transparent;
	width:16px;
	height:16px;
	vertical-align:-4px;
	background:#fff;
	filter:alpha(opacity=15);
	opacity:0.15;
}
#editbox a:hover .idel {
	background:#f7f7f7;
	filter:alpha(opacity=70);
	opacity:0.7;
}
#editbox a .idel:hover {
	border:1px solid #faa;
	filter:alpha(opacity=100);
	opacity:1;
}
#editbox a .idel:active {
	background:#fdd;
}
/* アイテムをテキストで取得 */
#editbox textarea {
	width:445px;
	height:300px;
	padding:2px;
	border:1px solid #888;
}
/* HTMLインポート・エクスポート・いろいろダイアログ */
#impexp, #snap, #dialog {
	display:none;
	line-height:1.5;
	padding:20px;
}
#impexp input {
	width:400px;
}
#shot {
	height:50px;
}
#shot img {
	display:none;
	margin-left:55px;
}
#shotbox {
	width:100%;
	height:180px;
	border:1px solid #777;
	margin-bottom:10px;
	overflow-x:auto;
	overflow-y:scroll;
}
/* スナップショットアイテム行(div)はrelative */
#shothead {
	position:relative;
	left:0; top:0;
	height:18px;
	color:#777;
	background:#eee;
	font-size:90%;
	font-weight:bold;
	border-bottom:1px solid #aaa;
	padding-top:1px;
}
#shots div {
	position:relative;
	left:0; top:0;
	height:20px;
	cursor:pointer;
}
#shots div:hover {
	background:#def;
}
#shots div.select {
	color:#fff;
	background:#337;
	font-weight:bold;
}
#shots div.select input {
	color:#fff;
	font-weight:bold;
}
/* スナップショットアイテム項目(span,input)はabsoluteで位置決め */
#shotbox .date, #shotbox .memo {
	height:20px;
	display:block;
	position:absolute;
	white-space:nowrap;
	padding-left:5px;
}
#shotbox .date {
	width:220px;
	left:0; top:0;
	border-right:1px solid #ccc;
}
#shotbox .memo {
	left:228px; top:0;
	border:0;
	background:transparent;
	line-height:20px;
}
#shotitem {
	text-align:right;
}
#shotitem div {
	display:inline-block;
	vertical-align:top;
	padding-top:5px;
}
#shotitem img {
	vertical-align:top;
	display:none;
	margin:0 50px 0 46px;
}
/* jQuery UI Dialog */
.ui-dialog {
	font-size:14px;
}
.ui-button-text {
	color:#555;
	font-size:13px;
	font-weight:bold;
}
