@charset "utf-8";
body {
	margin:0;
	padding:0;
}
#progress, #modified {
	position:fixed;
	left:0; top:0;
	width:100%;
	height:21px;
	color:#c00;
	font-size:14px;
	line-height:1.5;
	background:#ffc;
	border-bottom:1px solid #dda;
}
#progress {
	display:none;
	text-align:center;
}
#progress img {
	border:0;
	vertical-align:middle;
}
#modified {
	display:none;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
	white-space:nowrap;
}
#modified:hover {
	color:#f00;
	background:#ff9;
}
#modified:active {
	background:#fff399;
}
#modified input {
	width:17px;
	height:17px;
	vertical-align:middle;
	margin:0;
}
#modified img {
	width:21px;
	height:21px;
	vertical-align:top;
}
#wall {
	margin:auto;
	cursor:e-resize;
}
.column {
	float:left;
	padding-bottom:50px;
}
.columndrop {
	float:left;
}
.panel {
	font-size:13px;
	line-height:1;
	border-radius:3px;
	cursor:move;
}
.title {
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
	padding:1px 1px 1px 2px;
	border-radius:2px 2px 0 0;
}
.icon {
	border:0;
	width:16px;
	height:16px;
	margin:0 6px 0 1px;
	vertical-align:-4px;
	display:inline-block;
}
.pen, .plusminus {
	display:none;
	float:right;
	width:13px;
	height:13px;
	margin:0 2px 0 0;
	cursor:default;
	border:1px solid transparent;
	border-radius:2px;
}
.panel:hover .pen, .panel:hover .plusminus {
	display:block;
}
#newurl {
	width:98%;
	padding:1px;
}
.panel .commit {
	width:98%;
	cursor:pointer;
	text-align:center;
	border-radius:2px;
	padding:1px;
}
.itembox {
	border-radius:3px;
	padding:2px 2px 3px 2px;
}
.item {
	display:block;
	border:2px solid transparent;
	border-radius:2px;
	white-space:nowrap;
	text-decoration:none;
	overflow:hidden;
	outline:0;
}
.paneldrop {
	height:18px;
	border-radius:3px;
}
#sidebar {
	position:fixed;
	top:10px;
	left:-31px;
	width:34px;
	padding:1px;
	border-radius:0 3px 3px 0;
	border-top:1px solid #aaa;
	border-right:1px solid #aaa;
	border-bottom:1px solid #aaa;
	background:#eee;
}
.barico {
	float:right;
	width:32px;
	height:32px;
	border:1px solid #eee;
	background:#eee;
}
.barico:hover {
	border-color:#aaa;
	background:#fff;
}
.barico:focus {
	border-color:#eb0;
	background:#fff5f0;
}
.clear {
	clear:both;
}
#option {
	display:none;
	text-align:center;
}
#option table {
	font-size:13px;
	margin:auto;
}
#option th {
	padding:0 10px;
	text-align:right;
	white-space:nowrap;
	height:29px;
	line-height:20px;
}
#option td {
	text-align:left;
	white-space:nowrap;
}
#option input {
	border:1px solid gray;
	border-radius:2px;
	padding-left:2px;
	height:18px;
}
#option input:focus {
	border-color:#e70;
}
#option input[type=radio] {
	vertical-align:middle;
	border:0;
}
#option label {
	vertical-align:middle;
}
#option button {
	width:18px;
	height:18px;
	line-height:1;
	padding:0;
	border:1px solid #ccc;
	background:#f5f5f5;
	border-radius:3px;
	color:#777;
}
#option button:hover,
#option button:focus {
	border-color:#e70;
	background:#fed;
	color:#000;
}
#option button:active {
	background:#fdc;
}
#page_title {
	width:200px;
}
#panel_width, #column_count, #font_size, #panel_marginV, #panel_marginH, #icon_size {
	width:60px;
}
#contextmenu {
	display:none;
	position:absolute;
	left:0; top:0;
	border:1px solid #999;
	background:#e7e7e7;
}
#contextmenu div {
	padding:1px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
#contextmenu a {
	display:block;
	font-size:13px;
	line-height:17px;
	padding:3px 0 3px 9px;
	cursor:default;
}
#contextmenu a:hover {
	color:#fff;
	background:#337;
}
#contextmenu a:active {
	color:#fff;
	background:#449;
}
#contextmenu img {
	width:16px;
	height:16px;
	margin:0 8px 0 0;
	vertical-align:top;
	display:inline-block;
}
#contextmenu hr {
	margin:3px 0 3px 0;
	border-top:1px solid #999;
	border-bottom:1px solid #fff;
}
#editbox {
	display:none;
	font-size:13px;
	line-height:1;
}
#editbox input {
	height:16px;
}
#editbox div { /* アイテムボックス */
	width:100%;
	height:280px;
	margin-top:2px;
	padding:2px;
	border:1px solid #ccc;
	overflow-y:scroll;
}
#editbox .newurl {
	width:98%;
	border:1px solid #ddd;
	padding:1px;
}
#editbox .newurl:hover {
	border:1px dashed #fb1;
}
#editbox .newurl:focus {
	border-color:#eb0;
}
#editbox .commit {
	width:97%;
	padding:1px;
	text-align:center;
	cursor:pointer;
	background:#eee;
	border:1px solid #aaa;
	border-radius:2px;
}
#editbox .commit:hover {
	border-color:#e70;
	background:#fed;
}
#editbox .commit:active {
	background:#ffe5d3;
}
#editbox .edit { /* パネル名・URLアイテム */
	display:block;
	border:1px solid transparent;
	height:18px;
	white-space:nowrap;
}
#editbox div .edit:hover { /* URLアイテム */
	background:#f7f7f7;
	border-color:#ddd;
}
#editbox div .edit.drag {
	background:#f9f5f5;
	border-color:#eaa;
}
#editbox div .icon {
	cursor:n-resize;
}
#editbox .edit input {
	width:390px;
	padding:1px;
	background:transparent;
	border:1px solid transparent;
}
#editbox .edit input:hover {
	border:1px dashed #fb1;
}
#editbox .edit input:focus {
	border-color:#eb0;
	font-weight:bold;
}
#editbox .edit .idel { /* 削除ボタン */
	float:right;
	border:1px solid transparent;
	width:16px;
	height:16px;
	vertical-align:-4px;
	background:#fff;
	filter:alpha(opacity=15);
	opacity:0.15;
}
#editbox .edit:hover .idel {
	background:#f7f7f7;
	filter:alpha(opacity=70);
	opacity:0.7;
}
#editbox .edit .idel:hover {
	border-color:#faa;
	filter:alpha(opacity=100);
	opacity:1;
}
#editbox .edit .idel:active {
	background:#fdd;
}
#editbox textarea {
	width:100%;
	height:300px;
	padding:2px;
	border:1px solid #888;
	line-height:1.3;
	resize:none;
}
.edragi {
	position:absolute;
	background:#fff;
	font-size:13px;
	line-height:1;
	border:1px solid #ddd;
	padding:1px;
	width:400px;
	white-space:nowrap;
	overflow:hidden;
}
.place {
	height:0;
	border:2px solid #f88;
	margin:0;
}
#impexp, #snap, #dialog {
	display:none;
	line-height:1.5;
	padding:20px;
}
#impexp input {
	width:400px;
}
#shot {
	height:50px;
}
#shot img {
	display:none;
	margin-left:55px;
}
#shotbox {
	width:100%;
	height:180px;
	border:1px solid #777;
	margin-bottom:10px;
	overflow-x:auto;
	overflow-y:scroll;
}
/* スナップショットアイテム行(div)はrelative */
#shothead {
	position:relative;
	left:0; top:0;
	height:18px;
	color:#777;
	background:#eee;
	font-size:90%;
	font-weight:bold;
	border-bottom:1px solid #aaa;
	padding-top:1px;
}
#shots div {
	position:relative;
	left:0; top:0;
	height:20px;
	cursor:pointer;
}
#shots div:hover {
	background:#def;
}
#shots div.select {
	color:#fff;
	background:#337;
	font-weight:bold;
}
#shots div.select input {
	color:#fff;
	font-weight:bold;
}
/* スナップショットアイテム項目(span,input)はabsoluteで位置決め */
#shotbox .date, #shotbox .memo {
	height:20px;
	display:block;
	position:absolute;
	white-space:nowrap;
	padding-left:5px;
}
#shotbox .date {
	width:220px;
	left:0; top:0;
	border-right:1px solid #ccc;
}
#shotbox .memo {
	left:228px; top:0;
	line-height:20px;
	background:transparent;
	border:0;
}
#shotitem {
	text-align:right;
}
#shotitem div {
	display:inline-block;
	vertical-align:top;
	padding-top:5px;
}
#shotitem img {
	vertical-align:top;
	display:none;
	margin:0 50px 0 46px;
}
#findbox, #findtab {
	display:none;
	position:fixed;
	left:0; top:0;
	background:#fff;
	border:1px solid #999;
	font-size:15px;
	line-height:1;
}
#findtab {
	width:490px;
	border-bottom:1px solid #fff;
	border-radius:7px 7px 0 0;
	padding:7px 7px 0 11px;
}
#findbox {
	width:100%;
	padding:0 2px 0 1px;
	border-radius:0; /* Firefoxメイリオ劣化対策 */
}
#findtab input {
	width:230px;
	height:27px;
	line-height:25px;
	border:1px solid #bbb;
	border-radius:5px 0 0 5px;
	padding:1px 0 0 7px;
	vertical-align:top;
}
#findtab input:focus {
	border-color:#e92;
}
#findtab button {
	border-radius:0 5px 5px 0;
	margin:0;
}
#findtab #new100 {
	border-radius:5px 0 0 5px;
	margin-left:3px;
}
#findtab button img {
	width:18px;
	height:18px;
	vertical-align:top;
}
#findstop {
	display:none;
}
#findhide {
	float:right;
	width:16px; height:16px;
	padding:1px;
	background:#fff;
	border:1px solid transparent;
	border-radius:3px;
	filter:alpha(opacity=30);
	opacity:0.3;
}
#findhide:hover {
	border-color:#ddd;
	filter:alpha(opacity=100);
	opacity:1;
}
#finding {
	width:100%;
	height:9px;
	border:0;
	border-radius:0;
	cursor:n-resize;
}
#finding:hover {
	background:#ddd;
}
#finding.drag {
	background:#fdc;
}
#foundbox {
	width:100%;
	height:100px;
	padding:2px 1px;
	overflow-x:hidden;
	overflow-y:scroll;
}
#findbox .item {
	float:left;
}
#foundbox div { /* パネル */
	color:#707070;
	padding:2px;
	font-weight:bold;
	white-space:nowrap;
	overflow:hidden;
	float:left;
}
.ui-dialog {
	font-size:14px;
}
.ui-dialog-content {
	overflow:hidden !important;
}
.ui-button-text {
	color:#555;
	font-size:13px;
	font-weight:bold;
}
