/* 色テーマ：白 */
@charset "utf-8";
body {
	background:#f6faff;
}
#loading {
	color:#000;
}
.panel {
	border:1px solid #d0d0d0;
	background:#f3f3f5;
}
.title {
	color:#335;
	background:#dfdfef;
	background:linear-gradient(#e7e7f7,#dddde7);
}
.panel:hover {
	border-color:#99b;
}
.panel:hover .title {
	color:#335;
	background:#e5e9f5;
	background:linear-gradient(#f5f5ff,#d5d5dd);
}
.panel.active {
	border-color:#dd9;
}
.panel.active .title {
	color:#335;
	background:#f0f0f0;
	background:linear-gradient(#ffffff,#e3e3e3);
}
.pen:hover, .plusminus:hover {
	border-color:#bbb;
	background:#fff;
}
.pen:active, .plusminus:active {
	/* Firefox19,20で効かないなぜ */
	border-color:#aaa;
	background:#eee;
}
#newurl {
	color:#000;
	border:1px solid #ccc;
	background:#fff;
}
#newurl:hover {
	border-color:#fa3;
}
.panel .commit {
	color:#555;
	border:1px solid #aaa;
	background:#eee;
}
.panel .commit:hover {
	color:#333;
	background:#fed;
	border-color:#c95;
}
.panel .commit:active {
	color:#511;
	background:#fff5e3;
	border-color:#d84;
}
.itembox {
	background:#fafafc;
	background:linear-gradient(#fcfcfe,#f5f5f7);
}
.itempop {
	border:1px solid #aac;
	box-shadow:0 0 10px 3px #aac;
}
.item {
	color:#14b;
}
.item:hover {
	color:#600020;
	background:#f9f0f5;
	border-color:#dcb9b9;
	background:linear-gradient(#fffafc,#f3e5ec);
}
.item.active {
	color:#a00020;
	border-color:#eca9a9;
	background:#f9ecf2;
	background:linear-gradient(#fff8fa,#f3e0e7);
}
.paneldrop {
	border:1px dashed #d55;
	background:#fdd;
}
.itemdrop {
	border:2px solid #f88;
}
#contextmenu {
	box-shadow:3px 3px 4px #555;
}
#findbox .found {
	color:#707070;
	background:#fafafc;
	background:linear-gradient(#fcfcfe,#f5f5f7);
}
#findbox .found div {
	color:#707070;
}
